/**
 *  Styling for the emoji picker.
 */
.emojipicker
{
  // Use FlexBox to create a vertical layout.
  display: flex;
  flex-direction: column;

  // Keep some distance between categories.
  gap: 1em;

  // Make the emoji a little larger to make them easier to click.
  font-size: 1.5em;

  // Don't allow the emoji to take up the entire chatbox if that's not
  // necessary.
  max-height: 8em;

  // Let the user scroll through the emoji if necessary.
  overflow-y: scroll;
}