/**
 *  Styling for an chat-navigation-room in the list of chat rooms.
 */
.room
{
  // Get rid of the border.
  border: none;

  // Get rid of the default outline.
  outline: none;

  // Make sure we inherit the local text styling.
  font-family: inherit;
  font-size: inherit;

  // Use a slightly lighter background color.
  background-color: hsla(
    var(--background-hue),
    var(--background-saturation),
    calc(var(--background-lightness) + var(--lightness-step)),
    var(--background-opacity)
  );

  // Make the font color a little lighter for good contrast.
  color: hsla(
    var(--font-hue),
    var(--font-saturation),
    calc(var(--font-lightness)),
    var(--font-opacity)
  );

  // Take up all horizontal space.
  width: 100%;

  // Use some padding.
  padding: 1em 2em;

  // Include paddings with the calculations of the dimension of this element.
  box-sizing: border-box;

  // Show that the rooms are interactive.
  cursor: pointer;

  // Target both content rooms.
  .top, .bottom
  {
    // Use Flexbox to create a layout.
    display: flex;
    
    // Target the individual text containers for the name and the text of the
    // first message in the room.
    > span
    {
      // Make sure that we only use a single line to display text.
      white-space: nowrap;
  
      // Cut off text where we need to.
      overflow: hidden;
      
      // Show where we cut off text.
      text-overflow: ellipsis;

      // Make sure that the first item takes as much space as it needs.
      &:first-child { flex-shrink: 0; }
    }
  }

  // Target only the room's name.
  .name
  {
    // Slightly increase the font size to make the name stand out.
    font-size: 1.25em;
  }

  // Target only the top row of content.
  .top
  {
    // Make sure that we use all space and align the time to the right.
    justify-content: space-between;
  }

  // Target only the bottom row of content.
  .bottom
  {    
    // Align all text to the start.
    justify-content: flex-start;

    // Keep some space between the sender and the text.
    column-gap: 1ch;
  }

  // Target the room when the cursor hovers over it, or when it is selected.
  &:hover, &:focus
  {
    // Make it light up slightly.
    filter: brightness(125%);
  }

  // Target the currently opened chat room.
  &.selected
  {
    // Use a background-color similar to the chat itself to indicate that this
    // chat room belong to the currently open chat.
    background-color: hsla(
      var(--background-hue),
      var(--background-saturation),
      calc(var(--background-lightness) + var(--lightness-step) * 3),
      var(--background-opacity)
    );

    // The text needs to be lighter for sufficient contrast, but does not need
    // to match the increase of the background exactly because this text won't
    // need to draw the most attention..
    color: hsla(
      var(--font-hue),
      var(--font-saturation),
      calc(var(--font-lightness) + var(--lightness-step) * 3),
      var(--font-opacity)
    );
  }
}