/**
 *  Styling for the chatbox input.
 */
.input
{
  // Use a slightly lighter background color.
  background-color: hsla(
    var(--background-hue),
    var(--background-saturation),
    calc(var(--background-lightness) + var(--lightness-step)),
    var(--background-opacity)
  );
  
  // Match the font color for proper contrast.
  color: hsla(
    var(--font-hue),
    var(--font-saturation),
    calc(var(--font-lightness) + var(--lightness-step)),
    var(--font-opacity)
  );

  // Take up full width.
  width: 100%;

  // Make sure we include padding in the width.
  box-sizing: border-box;

  // Provide some padding.
  padding: 1em;

  // Provide some distance between the text and the button.
  gap: .5em;

  // Use grid to create a layout.
  display: grid;

  // Give the send button all the room it needs, then use the rest for the
  // input.
  grid-template-columns: 1fr max-content;

  // Subtly light up the input field when the cursor hovers it or when it is
  // selected to show that it is an interactive element.
  &:hover { filter: brightness(125%); }

  // Target the input's placeholder text and the button when no text has been
  // entered.
  input::placeholder, input:placeholder-shown + button
  {
    // Make these elements stand out a little less.
    color: hsla(
      var(--font-hue),
      var(--font-saturation),
      var(--font-lightness),
      var(--font-opacity)
    );

    // Indicate that the button is currently not clickable.
    cursor: auto;

    // Remove on hover effects.
    &:hover, &:focus { filter: none; }
  }
}