/**
 *  Styling for the chatbox input.
 */
.chat-box-input
{
  // Use a dark background color.
  background-color: #1F1F1F;
  
  // Provide a contrasting color for text.
  color: #858585;

  // Take up full width.
  width: 100%;

  // Make sure we include padding in the width.
  box-sizing: border-box;

  // Provide some padding.
  padding: 1em;

  // Provide some distance between the text and the button.
  gap: .5em;

  // Use grid to create a layout.
  display: grid;

  // Give the send button all the room it needs, then use the rest for the
  // input.
  grid-template-columns: 1fr max-content;

  // Target the input's placeholder text and the button when no text has been
  // entered.
  input::placeholder, input:placeholder-shown + button
  {
    // Make these elements stand out a little less.
    color: #5C5C5C;
  }

  // Target the button when no text has been entered.
  input:placeholder-shown + button
  {
    // Indicate that the button is currently not clickable.
    cursor: auto;

    // Remove on hover effects.
    &:hover, &:focus { filter: none; }
  }
}