/**
 *  Styling for an chatgroup in the list of chat groups.
 */
.chatgroup
{
  // Use a dark background color.
  background-color: #1F1F1F;

  // Provide a contrasting color for text.
  color: #5C5C5C;

  // Take up all horizontal space.
  width: 100%;

  // Makes sure all contents are contained.
  overflow: hidden;

  // Placeholder height.
  // @todo: get a better source of height.
  min-height: 4em;

  // Use some padding.
  padding: 1em 2em;

  // Include paddings with the calculations of the dimension of this element.
  box-sizing: border-box;

  // Show that the groups are interactive.
  cursor: pointer;

  // Target the group when the cursor hovers over it, or when it is selected.
  &:hover, :focus
  {
    // Make it light up slightly.
    filter: brightness(125%);
  }

  // Target the currently opened chat group.
  &.selected
  {
    // Use a background-color similar to the chat itself to indicate that this
    // chat group belong to the currently open chat.
    background-color: #333333;

    // Provide a contrasting color for text.
    color: #858585;
  }

  // Target only the top row of content.
  .chatgroup-toprow
  {
    // Use a slightly more constrasting text color.
    color: #ADADAD;

    // Use Flexbox to create a layout.
    display: flex;

    // Make sure that we use all space and align the time to the right.
    justify-content: space-between;
  }

  // Target both content rows.
  .chatgroup-toprow, .chatgroup-bottomrow
  {
    // Make sure that we only use a single line to display text.
    white-space: nowrap;

    // Cut off text where we need to.
    overflow: hidden;

    // Show where we cut off text.
    text-overflow: ellipsis;
  }
}