/**
 *  Styling for the list of chatrooms.
 */
.chatroom-list
{
  // Stick to a fixed width to display all chat rooms.
  width: 20em;

  // Make sure none of the list items can escape this container.
  overflow-y: auto;

  // Target the list.
  > ol
  {
    // Take up all available space.
    height: 100%;
    width: 100%;

    // We don't want to use any paddings or margins here.
    padding: 0;
    margin: 0;

    // Use Flexbox to create a layout to list the chat rooms.
    display: flex;

    // List the room vertically by default.
    flex-direction: column;
    
    // Display a tiny gap to distinguish different rooms.
    gap: 1px;

    // We should always have a single column.
    flex-wrap: nowrap;

    // Allow users to scroll down to see older chat rooms if they're out of
    // view.
    overflow-y: auto;
  }
}