/**
 *  Styling for an chatroom in the list of chat rooms.
 */
.chatroom
{
  // Get rid of the border.
  border: none;

  // Get rid of the default outline.
  outline: none;

  // Make sure we inherit the local text styling.
  font-family: inherit;
  font-size: inherit;

  // Use a dark background color.
  background-color: #1F1F1F;

  // Provide a contrasting color for text.
  color: #5C5C5C;

  // Take up all horizontal space.
  width: 100%;

  // Makes sure all contents are contained.
  overflow: hidden;

  // Use some padding.
  padding: 1em 2em;

  // Include paddings with the calculations of the dimension of this element.
  box-sizing: border-box;

  // Show that the rooms are interactive.
  cursor: pointer;

  // Target the room when the cursor hovers over it, or when it is selected.
  &:hover, &:focus
  {
    // Make it light up slightly.
    filter: brightness(125%);
  }

  // Target the currently opened chat room.
  &.selected
  {
    // Use a background-color similar to the chat itself to indicate that this
    // chat room belong to the currently open chat.
    background-color: #333333;

    // Provide a contrasting color for text.
    color: #858585;
  }

  // Target only the top row of content.
  .chatroom-top
  {
    // Use a slightly more constrasting text color.
    color: #ADADAD;

    // Use Flexbox to create a layout.
    display: flex;

    // Make sure that we use all space and align the time to the right.
    justify-content: space-between;
  }

  // Target both content rooms.
  .chatroom-top, .chatroom-bottom
  {
    // Use Flexbox to create a layout.
    display: flex;

    // Make sure that we only use a single line to display text.
    white-space: nowrap;

    // Cut off text where we need to.
    overflow: hidden;

    // Show where we cut off text.
    text-overflow: ellipsis;

    // Make sure that text start at the left.
    text-align: left;

    // Target only the top row of content.
    &.chatroom-top
    {
      // Make sure that we use all space and align the time to the right.
      justify-content: space-between;

      // Use a slightly more constrasting text color.
      color: #ADADAD;
    }

    // Target only the bottom row of content.
    &.chatroom-bottom
    {    
      // Align all text to the start.
      justify-content: flex-start;
  
      // Keep some space between the sender and the text.
      column-gap: 1ch;
    }
  }
}